<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:insert="frags.html::bts_head"></th:block>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
    <title>Index page</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css"/>
</head>

<body>

<th:block th:insert="frags.html::bts_body(~{::div}, #{index.main_page_title})">
    <div sec:authorize="!isAuthenticated()">
        <div align="center">
            <p th:text="#{index.auth_required}"></p>
            <p th:text="#{index.please_sign_in}"></p>
            <a th:text="#{index.auth_github}"
            th:href="@{/oauth2/authorization/github}" class="btn btn-lg btn-outline-primary"></a>
            <a th:text="#{index.auth_google}"
            th:href="@{/oauth2/authorization/google}" class="btn btn-lg btn-outline-primary"></a>
        </div>
    </div>

    <div sec:authorize="isAuthenticated()">
        <span th:text="#{index.logged_in_as}"></span> <span id="user"></span>

        <div>
            <button th:text="#{index.logout}" onClick="logout()" class="btn btn-primary"></button>
        </div>
    </div>
</th:block>

<script type="text/javascript" src="/js/index.js"></script>
</body>
</html>