<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:insert="frags.html::bts_head"></th:block>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
    <title>Index page</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css"/>
</head>

<body>

<th:block th:insert="frags.html::bts_body(~{::div}, 'User table page')">
    <div sec:authorize="!isAuthenticated()">
        <span th:text="#{index.logged_in_as}">No props loaded:</span>

        <div align="center">
            <p>Unauthorized users don't have access to this page. <br>You can either sign in or sign up to access the
                website contents.</p>
            <a th:href="@{/oauth2/authorization/github}" class="btn btn-lg btn-outline-primary">Sign in with Github</a>
            <a th:href="@{/oauth2/authorization/google}" class="btn btn-lg btn-outline-primary">Sign in with Google</a>
            <a th:href="@{/login}" class="btn btn-lg btn-outline-primary">Sign in</a>
            <a th:href="@{/register}" class="btn btn-lg btn-outline-primary">Sign up</a>
        </div>
    </div>

    <div sec:authorize="isAuthenticated()">
        <span th:text="#{index.logged_in_as}">No props loaded:</span> <span id="user"></span>

        <div>
            <button onClick="logout()" class="btn btn-primary">Logout</button>
        </div>
    </div>
</th:block>

<script type="text/javascript" src="/js/index.js"></script>
</body>
</html>