<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Register</title>
</head>

<body class="text-center">
<form class="form-signin rounded" th:action="@{/register}" method="post"
      oninput="repeatPassword.setCustomValidity(repeatPassword.value !== password.value ? 'Passwords do not match.' : '')">

    <h1 class="h3 mb-3 font-weight-normal">Create new account</h1>

    <div th:if="${message}" class="alert alert-warning" role="alert">
        <p th:text="${message}"></p>
    </div>

    <label for="username" class="sr-only">Username</label>
    <input type="text" id="username" name="username" class="input--top form-control" placeholder="Username" required=""
           autofocus="">

    <label for="name" class="sr-only">Name</label>
    <input type="text" id="name" name="name" class="input--middle form-control" placeholder="Name" required=""
           autofocus="">

    <label for="email" class="sr-only">E-mail</label>
    <input type="text" id="email" name="email" class="input--middle form-control" placeholder="E-mail" required=""
           autofocus="">

    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" name="password" class="input--middle form-control" placeholder="Password"
           required="">

    <label for="repeatPassword" class="sr-only">Repeat password</label>
    <input type="password" id="repeatPassword" name="repeatPassword" class="input--bottom form-control"
           placeholder="Repeat password" required="">

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    <p class="mt-5 mb-3 text-muted">
        <a class="text-light" th:href="@{/login}">
            Already have an account? Sign in!
        </a>
    </p>
</form>

<script type="text/javascript" src="/js/register.js"></script>
</body>
</html>